.heroCard {
  width: 220px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 16px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: 'Arial', sans-serif;
  justify-content: center;
}

.heroCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.heroCard img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #4f46e5; 
  margin-bottom: 12px;
}

.heroCard h3 {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
  text-align: center;
  margin: 0;
  word-break: break-word;
}

.heroCard p {
  font-size: 14px;
  color: #6b7280;
  text-align: center;
  margin-top: 4px;
}


.deleteBtn {
  margin-top: 8px;
  padding: 6px 12px;
  background-color: #ef4444; 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.deleteBtn:hover {
  background-color: #b91c1c;
}

.more_btn{
  margin-top: 8px;
  padding: 6px 12px;
  background-color: #432222; 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}
.more_btn:hover{
  background-color: #7b4343;
}

.edit_btn{
   margin-top: 8px;
  padding: 6px 12px;
  background-color: #2e377b; 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;

}

.edit_btn:hover{
  background-color: #4f46e5;
}